

/* comment */

    body {
        background-color: #FFC300;
        padding: 0 36px;
        color: #a81e25;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
    }
   
    
    h1 {
        color: #0f75c8;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
    }
    h2 {
        color: #5c1ea8;
        font-size: 2 em;
        text-align: center;
        margin-top: 0;
    }
    h3 {
        color: #a81e6a;
        font-size: 1.5em;
        text-align: center;
        margin-top: 0;
    }
        
/* */
